<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %> <%- include('partials/hero.ejs') %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome to My Project</h1>
          <p class="lead">This is a Bootstrap-enabled EJS template.</p>
        </div>
      </div>
    </div>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
